# Prerequisites
*.d

# Build files
*.bat

# Editor files
*.4coder

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/.vs/main/v16/.suo
build/.vs/main/v16/Browse.VC.db
build/.vs/main/v16/Browse.VC.db-shm
build/.vs/main/v16/Browse.VC.db-wal
build/.vs/main/v16/Browse.VC.opendb
build/.vs/main/v16/ipch/AutoPCH/21600f1a13b7fd14/GAME.ipch
build/.vs/main/v16/ipch/AutoPCH/59bdc5977b9068ee/GAME.ipch
